doctype xml
include ../pug/mixins/_index
root
  - const url = 'https://example.com/'
  entity
    at-context http://www.schema.org
    at-type WebPage
    at-id= url + '#webpage'
    name Hello World
    description Example page from the gulp-pug-tachyons-rig template repo.
    url= url